version: 2
jobs:
  build:        
    machine:
    php:
      version: 7.0.4
    hosts:
      local.example.com: 127.0.0.1
    docker:
      - image: circleci/node:7.10.1-browsers
    dependencies:
      cache_directories:
        - "node_modules"
        - ~/.npm
        - ~/.yarn-cache
    override:
    # Hack to use newer v. of phantom needs to update Chrome
      - npm install -g yarn
      - yarn install
      - yes | sudo cp /home/circleci/project/httpd.conf.circle /etc/apache2/sites-available
      - sudo a2enmod rewrite
      - sudo service apache2 restart
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: yes | cp /home/circleci/project/000-default.conf /etc/apache2/sites-available/
      - run: yarn test
      - store_artifacts:
          path: /home/circleci/project/reports/screenshots
      - run: mysql -v