version: 2

jobs:
  build:
    docker:
      - image: circleci/php:5.6-apache-node-browsers
    dependencies:
      cache_directories:
        - ~/.composer/cache
        
      post:
        - sudo service apache2 restart
      override:
        - echo "Ignore CircleCI default dependencies"
    steps:
      - checkout
      - run: ls
      - run: pwd
      - run: sudo apt install -y libsqlite3-dev
      - run: sudo which composer
      - run: sudo rm -rf /usr/local/bin/composer
      - run: sudo rm -rf ~/.composer/cache/
      - run: sudo apt-get update
      - run: sudo curl -sS https://getcomposer.org/installer | sudo php -- --install-dir=/usr/local/bin --filename=composer
      - run: sudo composer self-update
      - restore_cache:
          keys:
            - node-v1-{{ checksum "package.json" }}
            - node-v1-
      - save_cache:
          key: node-v1-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run: sudo apt-get install apache2
      - run: ls
      - run: pwd
      - run: sudo cp /home/circleci/project/000-default.conf /etc/apache2/sites-available
      - run: sudo cp /home/circleci/project/meh/index.html /var/www/html
      - run: yarn install
      - run: yarn start
      - store_artifacts:
          path: /home/circleci/project/reports/screenshots
          destination: artifact-file
