version: 2

jobs:
  build:
    docker:
      - image: circleci/php:5.6-apache-node-browsers
    dependencies:
      cache_directories:
        - ~/.composer/cache
        
      post:
        - sudo service apache2 restart
      override:
        - echo "Ignore CircleCI default dependencies"
    steps:
      - checkout
      - run: ls
      - run: pwd
      - run: sudo apt install -y libsqlite3-dev
      - run: sudo which composer
      - run: sudo rm -rf /usr/local/bin/composer
      - run: sudo rm -rf ~/.composer/cache/
      - run: sudo apt-get update
      - run: sudo curl -sS https://getcomposer.org/installer | sudo php -- --install-dir=/usr/local/bin --filename=composer
      - run: sudo composer self-update
      - restore_cache:
          keys:
            - node-v1-{{ checksum "package.json" }}
            - node-v1-
      - save_cache:
          key: node-v1-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run: sudo apt-get install apache2
      - run: ls
      - run: pwd
      - run: sudo mkdir magento2
      - run: sudo chmod 777 magento2
      - run: composer init --no-interaction
      - run: sudo apt-get install libzip-dev libwebp-dev libjpeg-dev libpng-dev libz-dev libxpm-dev libmcrypt-dev
      - run: sudo apt-get install -y libpng-dev
      - run: sudo docker-php-ext-install gd
      - run: sudo docker-php-ext-install mcrypt
      - run: composer config -a http-basic.repo.magento.com e3fe1cabf752165bd79fbbbcb0e626fd 11543462ae0104c9792bd3d79b57663a
      - run: composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition=2.1.7 magento2
      - run: sudo cp /home/circleci/project/000-default.conf /etc/apache2/sites-availabled
      - run: sudo service apache2 reload
      - run: yarn install
      - run: yarn start
      - store_artifacts:
          path: /home/circleci/project/reports/screenshots
          destination: artifact-file
