version: 2
jobs:
  build:        
    machine:
    hosts:
      local.example.com: 127.0.0.1
    docker:
      - image: circleci/node:7.10.1-browsers
    dependencies:
      pre:
        - cp ./httpd.conf.circle /etc/apache2/sites-available/default
        - sudo a2enmod rewrite
        - sudo service apache2 restart
      cache_directories:
        - "node_modules"
        - ~/.npm
        - ~/.yarn-cache
    override:
      # - npm install -g yarn
      # - yarn install
      # - sudo apt install apache2
      # - cp /home/circleci/project/httpd.conf.circle /etc/apache2/apache2.conf
      # - cp /home/circleci/project/index.php /home/ubuntu/www
      # - sudo a2enmod rewrite
      # - sudo service apache2 restart
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: pwd
      - run: apt install apache2
      - run: yarn start
      - store_artifacts:
          path: /home/circleci/project/reports/screenshots
      - run: mysql -v