version: 2

jobs:
  build:
    docker:
      - image: circleci/php:7.1-node-browsers
    dependencies:
      cache_directories:
        - ~/.cache/yarn
      post:
        - sudo service apache2 restart
      override:
        - echo "Ignore CircleCI default dependencies"
    steps:
      - checkout
      - run: sudo apt install -y libsqlite3-dev
      - run: sudo composer self-update
      - restore_cache:
          keys:
            - node-v1-{{ checksum "package.json" }}
            - node-v1-
      - save_cache:
          key: node-v1-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run: sudo apt-get install apache2
      - run: ls
      - run: sudo cp /home/circleci/project/000-default.conf /etc/apache2/sites-availabled
      - run: sudo cp /home/circleci/project/auth.json ~/.composer
      - run: sudo chmod 777 ~/project/www
      - run: composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition=2.1.7 www
      - run: yarn install
      - run: yarn start
      - store_artifacts:
          path: /home/circleci/project/reports/screenshots
          destination: artifact-file
