version: 2
jobs:
  build:
    docker:
      - image: circleci/node:7.10
      - image: selenium/hub
        name: hub
      - image: selenium/node-firefox
        environment:
          HUB_PORT_4444_TCP_ADDR: hub
          HUB_PORT_4444_TCP_PORT: 4444
    working_directory: ~/repo
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: npm install

      - run: wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add - 
      - run: sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
      - run: apt-get update
      - run: apt-get install -y google-chrome-stable
      # Install Xvfb
      - run: apt-get install -y xvfb

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          command: ./node_modules/.bin/chimp --browser=firefox
          background: true

      # - store_artifacts:
      #     path: ./errorShots/
      #     when: always