version: 2
jobs:
  build:
    environment:
      BASH_ENV: "~/.bin/bash"
      PULSESTORM_MAGE2_FAKE_URL: "http://magento-2-travis.dev"
      PULSESTORM_MAGE2_ADMIN_EMAIL: "johnny.shrewd@example.com"
      PULSESTORM_MAGE2_ADMIN_FIRST_NAME: "Johnny"    
      PULSESTORM_MAGE2_ADMIN_LAST_NAME: "Shrewd"
      PULSESTORM_MAGE2_ADMIN_USERNAME: "admin"            
      PULSESTORM_MAGE2_ADMIN_PASSWORD: "ih3artmagento"        
      PULSESTORM_MAGE2_ADMIN_DBNAME: "magento_2_travis"
    working_directory: /var/www/html
    docker:
      - image: php:7.0-apache
        environment:
          APP_ENV: test
      - image: mysql:5.6
        environment:
          - MYSQL_ROOT_PASSWORD=ubuntu
          - MYSQL_USER=ubuntu
          - MYSQL_PASSWORD=ubuntu
    steps:
      - run:
          name: Install system packages
          command: apt-get update && apt-get -y install git
      - run:
          name: Install PHP extensions
          command: docker-php-ext-install pdo
      - checkout
      - run:
          name: Install Composer
          command: |
            php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
            php -r "if (hash_file('SHA384', 'composer-setup.php') === trim(file_get_contents('https://composer.github.io/installer.sig'))) { echo 'Installer verified'; } else { echo 'Installer invalid'; unlink('composer-setup.php'); } echo PHP_EOL;"
            php composer-setup.php
            php -r "unlink('composer-setup.php');"
      - run:
          name: Install MYSQL
          command: |
            yes Y | apt-get install mysql-server -u johnny -p johnny
            yes Y | apt-get install mysql-client -u johnny -p johnny
            mysql --version
            mysql 'CREATE DATABASE magento_2_travis;';
      - run:
          name: Display PHP information
          command: |
            php -v
            php composer.phar --version