version: 2

jobs:
  build:
    docker:
      - image: circleci/php:7.1-node-browsers
    dependencies:
      cache_directories:
        - ~/.cache/yarn
      post:
        - sudo service apache2 restart  
    steps:
      - checkout
      - run: sudo apt install -y libsqlite3-dev
      - run: sudo composer self-update
      - restore_cache:
          keys:
            - node-v1-{{ checksum "package.json" }}
            - node-v1-
      - run: yarn install
      - save_cache:
          key: node-v1-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run: sudo apt-get install apache2
      - run: pwd
      - run: sudo cp /home/circleci/project/000-default.conf /etc/apache2/sites-available
      - run: sudo service apache2 restart
      - run: yarn start
      - store_artifacts:
          path: /home/circleci/project/reports/screenshots
          destination: artifact-file