version: 2
jobs:
  build:
    environment:
      PULSESTORM_MAGE2_FAKE_URL: "http://magento-2-travis.dev"
      PULSESTORM_MAGE2_ADMIN_EMAIL: "johnny.shrewd@example.com"
      PULSESTORM_MAGE2_ADMIN_FIRST_NAME: "Johnny"    
      PULSESTORM_MAGE2_ADMIN_LAST_NAME: "Shrewd"
      PULSESTORM_MAGE2_ADMIN_USERNAME: "admin"            
      PULSESTORM_MAGE2_ADMIN_PASSWORD: "ih3artmagento"        
      PULSESTORM_MAGE2_ADMIN_DBNAME: "magento_2_travis"
    working_directory: /var/www/html
    docker:
      - image: php:7.0-apache
        environment:
          APP_ENV: test
    steps:
      - run:
          name: Install system packages
          command: apt-get update && apt-get -y install git
      - run:
          name: Install PHP extensions
          command: docker-php-ext-install pdo
      - checkout
      - run:
          name: Install Composer
          command: |
            php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
            php -r "if (hash_file('SHA384', 'composer-setup.php') === trim(file_get_contents('https://composer.github.io/installer.sig'))) { echo 'Installer verified'; } else { echo 'Installer invalid'; unlink('composer-setup.php'); } echo PHP_EOL;"
            php composer-setup.php
            php -r "unlink('composer-setup.php');"
      - run:
          name: Install MYSQL
          command: |
            apt-get update -qq   
            # curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
            apt-get remove -y -qq --purge mysql-common mysql-server-5.5 mysql-server-core-5.5 mysql-client-5.5 mysql-client-core-5.5
            apt-get -y -qq autoremove;
            apt-get -y -qq autoclean;
            apt-get install -y -qq mysql-server-5.6 mysql-client-5.6;
            mysql -uroot -e 'SET @@global.sql_mode = NO_ENGINE_SUBSTITUTION; CREATE DATABASE magento_2_travis;';
      - run:
          name: Display PHP information
          command: |
            php -v
            php composer.phar --version