version: 2

jobs:
  build:
    docker:
      - image: circleci/php:5.6-apache-node-browsers
    dependencies:
      cache_directories:
        - ~/.composer/cache
        
      post:
        - sudo service apache2 restart
      override:
        - echo "Ignore CircleCI default dependencies"
    steps:
      - checkout
      - run: ls
      - run: pwd
      - run: sudo apt install -y libsqlite3-dev
      - run: sudo which composer
      - run: sudo rm -rf /usr/local/bin/composer
      - run: sudo rm -rf ~/.composer/cache/
      - run: sudo apt-get update
      - run: sudo curl -sS https://getcomposer.org/installer | sudo php -- --install-dir=/usr/local/bin --filename=composer
      - run: sudo composer self-update
      - restore_cache:
          keys:
            - node-v1-{{ checksum "package.json" }}
            - node-v1-
      - save_cache:
          key: node-v1-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run: sudo apt-get install apache2
      - run: ls
      - run: pwd
      - run: sudo chmod 777 /var/www/html
      - run: cd /var/www/html
      - run: pwd
      - run: composer init --no-interaction
      - run: sudo apt-get install libzip-dev libwebp-dev libjpeg-dev libpng-dev libz-dev libxpm-dev libmcrypt-dev
      - run: sudo apt-get install -y libpng-dev
      - run: sudo apt-get update && sudo apt-get install -y zlib1g-dev libicu-dev g++
      - run: sudo docker-php-ext-configure intl
      - run: sudo docker-php-ext-install intl
      - run: sudo docker-php-ext-install gd
      - run: sudo docker-php-ext-install mcrypt
      - run: sudo apt-get install python-libxml2 libxslt-dev libxml2-dev
      - run: sudo apt-get install php5-xsl
      - run: sudo php5enmod xsl
      - run: sudo service apache2 restart
      - run: sudo docker-php-ext-install xsl
      - run: sudo docker-php-ext-install zip
      - run: composer config -a http-basic.repo.magento.com e3fe1cabf752165bd79fbbbcb0e626fd 11543462ae0104c9792bd3d79b57663a
      - run: composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition=2.1.7 magento2
      - run: ls
      - run: pwd
      - run: composer install
      - run: sudo service apache2 start
      - run: cd /home/circleci/project/
      - run: yarn install
      - run: yarn start
      - store_artifacts:
          path: /home/circleci/project/reports/screenshots
          destination: artifact-file
